---
layout: home
header: hidden
---
<section id="home">
  <div class="container">
    <div class="profile row">
      <div class="col-8-sm">
        <div class="info">
          <h1>{{ site.author.name }}</h1>
          <p>
              {{ site.description }}
          </p>
          {% include social.html %}
        </div>
      </div>
      <div class="col-4-sm">
        <div class="avatar">
          <img class="img-circle" src="{{ site.baseurl }}/static/img/{{ site.avatar }}" alt="Responsive image">
        </div>
      </div>
    </div>
    <div class="about row">
      <div class="col-4-sm">
        <p>
          I'm John, {{ site.job.prefix }} {{ site.job.title }} 
          at <a href="{{ site.employer.uri }}">{{ site.employer.name }}</a>.
        </p>
      </div>
      <div class="col-4-sm">
        <p>
          I enjoy <a href="{{ site.blog_url }}">writing</a> and 
          <a href="{{ site.baseurl }}presentations">speaking</a>
          about technology and building teams.
        </p>
      </div>
      <div class="col-4-sm">
          <p>
            I live and work in Melbourne, Australia.
          </p>
      </div>
    </div>
  </div>
</section>
<section id="posts">
  <div class="container">
    <div class="post-list">
      {% for post in site.posts %}
      <div class="post-list-item">
        <div class="post-info">
          <h5 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
          <div class="post-date">
            {{ post.date | date: "%B %e, %Y" }}
          </div>
        </div>
        <p class="post-description">{{ post.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
    
