<nav class="navbar navbar-default">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        {% if site.blog_url %}
        <li>
          <a href="{{ site.blog_url }}">
            BLOG
          </a>
        </li>
        {% endif %}
        {% if site.medium_username %}
        <li>
          <a href="https://medium.com/{{ site.medium_username }}">
            MEDIUM
          </a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            GITHUB
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
