<nav class="navbar navbar-default">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        {% if site.blog_url %}
        <li>
          <a href="{{ site.blog_url }}">
            Blog
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ site.baseurl }}/presentations">
            Presentaions
          </a>
        </li>
        {% if site.medium_username %}
        <li>
          <a href="https://medium.com/{{ site.medium_username }}">
            Medium
          </a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            GitHub
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
