<div class="social">
  <h4>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
      {% endif %}
      {% if site.stackoverflow_username %}
        <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}">
          <i class="fa fa-stack-overflow"></i>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>
        </a>
      {% endif %}
      {% if site.medium_username %}
        <a href="https://medium.com/{{ site.medium_username }}">
          <i class="fa fa-medium"></i>
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-linkedin"></i>
        </a>
      {% endif %}
      {% if site.email %}
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o"></i>
        </a>
      {% endif %}
  </h4>
</div>
