$tablet-width: 768px;
$desktop-width: 1024px;

@mixin min-width($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  @include min-width($desktop-width) {
    @content;
  }
}

@mixin vendor-property($property, $value) {
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$value};
    }
}

@mixin vendor-value($property, $value) {
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$property}: #{$vendor}#{$value};
    }
}

@mixin vendor($property, $value) {
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$vendor}#{$value};
    }
}

@mixin vendor-keyframes($name) {
	@-moz-keyframes #{$name} { @content; }
	@-webkit-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@mixin icon($content: false) {
	text-decoration: none;

	&:before {
		@if $content {
			content: $content;
		}
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}
}

%horizontal-list {
  cursor: default;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding: 0 1em 0 0;

    &:last-child {
      padding-right: 0;
    }

    .icon {
      &:before {
        font-size: 1.5em;
      }
    }
  }
}
