
$headings-font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
$body-font-family: Georgia,Cambria,"Times New Roman",Times,serif;

$color-black: #333;
$color-white: #fff;
$color-grey: #6b6b6b;

$theme-color: #282e29;
