
//$theme-color: #96BEC0;
//$theme-color-darker: #90ACB3;

$headings-font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
$body-font-family: Georgia,Cambria,"Times New Roman",Times,serif;


$theme-color: #1A9B9C;
$theme-color-darker: #187A8D;

$color-black: #333;
$color-white: #fff;
$color-grey: #6b6b6b;
