
h1, h2, h3 ,h4 ,h5 ,h6 {
  font-family: $headings-font-family;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;

  small {
    font-weight: 400;
    line-height: 1;
    color: #777
  }
}

h1, h2, h3 {
  small {
    font-size: 65%
  }
}

h4, h5, h6 {
  small {
		font-size: 75%;
  }
}

h1 { font-size: 34px }
h2 { font-size: 28px }
h3 { font-size: 22px }
h4 { font-size: 16px }
h5 { font-size: 14px }
h6 { font-size: 12px }

h1 + h2, h1 + h3 {
  margin-top: 10px;
}

.pagination {
  font-family: $headings-font-family;
  font-size: 20px;
  text-align: center;

  span, a {
    margin-right: 8px;
  }

  span {
    color: $pagination-active-color;
    border-bottom: 1px solid $pagination-active-color;
    cursor: default;
  }

  a {
    color: $pagination-link-color;
    border-bottom: 1px solid #FFF;
    :hover {
      text-decoration: underline;
    }
  }
}