
#home {
  @include desktop {
    margin-top: 20px;
  }

  $desktop-height: 210px;

  .avatar {
    text-align: right;

    img {
      $img-size: 160px;

      height: $img-size;
      width: $img-size;
      margin-top: $desktop-height - $img-size;
      margin-right: 10px;

      border-radius: 5px;
      vertical-align: middle;
    }
  }

  .profile {
    margin-bottom: 40px;
  }

  .info {
    $info-height: 140px;

    margin-top: $desktop-height - $info-height;
    height: $info-height;
    max-width: 500px;

    h1 {
      margin-bottom: 10px;
      font-weight: 600;
      letter-spacing: -1.5px;
    }

    p {
      font-family: $headings-font-family;
      font-size: 18px;
      margin: 0px;
    }

    .social {
      padding-top: 5px;
      word-spacing: 15px;

      h4 > a {
        font-size: 18px;
      }
    }
  }

  .about {
    p {
      font-family: $headings-font-family;
      font-size: 16px;
    }
  }
}

#posts {
  margin-top: 2rem;
  border-top: 2px solid $theme-color-darker;

  .post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    .post-list-item {
      width: 50%;
      margin-bottom: 2rem;
      padding-right: 20px;

      .post-info {
        font-family: $headings-font-family;

        .post-title {
          font-size: 18px;
          margin-bottom: 6px;
        }
        .post-date {
          font-size: 14px;
        }
      }

      .post-description {
        font-size: 16px;
      }
    }
  }
}