
#home {
  @include desktop {
    margin-top: 20px;
  }
}

#posts {
  margin-top: 2rem;

  .post-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    .post-list-item {
      width: 80%;
      margin: 1.6rem auto;
      padding: 20px;
      box-sizing: border-box;

      border-radius: 5px;
      //box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);

      .post-info {
        font-family: $headings-font-family;
        overflow: hidden;

        .post-posterimg_c {
          height: 260px;
          background-position: center center;
          background-repeat: no-repeat;
          background-clip: border-box;
          background-size: cover;
        }

        .post-title {
          max-width: 500px;
          color: $color-black;
          font-size: 22px;
          margin-bottom: 3px;
          word-break: break-word;
        }
        .post-subtitle {
          color: $color-grey;
          font-size: 20px;
        }

        .post-date {
          color: $color-grey;
          font-size: 14px;
          margin-top: 15px;
        }
      }

      .post-description {
        font-size: 18px;
        line-height: 1.6rem;
        max-width: 700px;
      }
    }
  }
}