
#about .info {
  margin-top: 20px;
  margin-bottom: 10px;
}

#about .info p {
  font-size: 24px;
  margin-bottom: 20px;
}

.avatar img {
  $size: 175px;
  height: $size;
  width: $size;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
