* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: $body-font-family;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: $body-bg-color;
  color: $body-text-color;

  a {
    background-color: transparent;
    text-decoration: none;
  }
}

