
@import 'vars';
@import 'mixins';


ol {
	list-style: decimal;
	margin: 0 0 $size-element-margin 0;
	padding-left: 1.25rem;

	li {
		padding-left: 0.25rem;
	}
}

ul {
	list-style: disc;
	margin: 0 0 $size-element-margin 0;
	padding-left: 1rem;

	li {
		padding-left: 0.5rem;
	}

	&.alt {
		list-style: none;
		padding-left: 0;

		li {
			border-top: solid 2px $color-border;
			padding: 0.5rem 0;

			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}

	&.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 ($size-element-margin * 0.5) 0 0;
			vertical-align: middle;

			&:last-child {
				padding-right: 0;
			}
		}

		&.small {
			li {
				padding: 0 ($size-element-margin * 0.25) 0 0;
			}
		}

		&.vertical {
			li {
				display: block;
				padding: ($size-element-margin * 0.5) 0 0 0;

				&:first-child {
					padding-top: 0;
				}

				> * {
					margin-bottom: 0;
				}
			}

			&.small {
				li {
					padding: ($size-element-margin * 0.25) 0 0 0;

					&:first-child {
						padding-top: 0;
					}
				}
			}
		}

		&.fit {
			display: table;
			margin-left: ($size-element-margin * -0.5);
			padding: 0;
			table-layout: fixed;
			width: calc(100% + #{($size-element-margin * 0.5)});

			li {
				display: table-cell;
				padding: 0 0 0 ($size-element-margin * 0.5);

				> * {
					margin-bottom: 0;
				}
			}

			&.small {
				margin-left: ($size-element-margin * -0.25);
				width: calc(100% + #{($size-element-margin * 0.25)});

				li {
					padding: 0 0 0 ($size-element-margin * 0.25);
				}
			}
		}
	}

	&.labeled-icons {
		list-style: none;
		padding: 0;

		li {
			line-height: 1.75rem;
			margin: 1.5rem 0 0 0;
			padding-left: 2.25rem;
			position: relative;

			&:first-child {
				margin-top: 0;
			}

			a {
				color: inherit;
			}

			h3 {
				color: $color-fg-light;
				left: 0;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1rem;
			}
		}
	}
}

dl {
	margin: 0 0 $size-element-margin 0;
}
