
@mixin post-margins($post-margin-base) {
  h1, h2, h3, h4, h5, h6 {
    margin: $post-margin-base 0 0 0;
  }

  p {
    margin: 0 0 ($post-margin-base) 0;
  }

  blockquote {
    margin: ($post-margin-base) 0;
  }

  ul {
    margin: 0 0 ($post-margin-base / 2) ($post-margin-base);
    li {
      margin: 0 0 0 0;
    }
  }
}

.post {
  .post-content {
    @include post-margins(1rem);

    hr {
      height: 1rem;
      margin: 0.5rem 0;

      border-bottom: none;
      text-align: center;

      font-size: 2rem;

      &:before {
        content: '...';
        display: inline-block;
        margin-left: 0.6rem;
        color: rgba(0,0,0,0.6);
        position: relative;
        letter-spacing: 0.5rem;
      }
    }

    @include desktop {
      @include post-margins(1.5rem);
    }
  }
}
