
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 {
  > a {
    font-size: 18px;
    color: $color-black;

    &:hover {
      text-decoration: none;
    }

    @include desktop {
      font-size: 24px;
    }
  }
}
