<!DOCTYPE html>
<html>
  <head>
    <title>John McKim</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
	<body>
    <header class="header">
      <div class="header-content">
        <a href="#" class="image avatar"><img src="/images/avatar.jpeg" alt="" /></a>
        <h1>
          <strong>I am <a href="/">John McKim</a></strong>, a Full Stack Developer and
          Devops Engineer working in <span class="no-break-sentence">Brisbane, Australia.</span>
        </h1>
      </div>
    </header>
    <div class="main">
      {{ content }}
    </div>
    <footer class="footer">
      <div class="footer-content">
        {% include nav.html %}
        {% include social-icons.html %}
        <ul class="copyright">
            <li>&copy; John McKim</li>
        </ul>
      </div>
    </footer>
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WLCJ7Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLCJ7Z');</script>
    <!-- End Google Tag Manager -->
	</body>
</html>
