---
layout: layout
---


<section id="presentation">
  <div class="container">
    <div class="presentation-embed">
      <iframe
        src="{{ page.presentation }}"
        scrolling="no" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
    <div class="presentation-links">
      <a href="{{ page.presentation }}">Full screen</a>
      {% if page.pdf %}
      <a href="{{ page.pdf }}">PDF</a>
      {% endif %}
    </div>
    <div class="presentation-description">
      {{ content }}
    </div>
    </div>
  </div>
</section>
